{% extends 'base.html' %}

{% block title %}{{ title }} - UTpay{% endblock %}

{% block content %}
  <h2>API を登録する</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <br>
          <small style="color:grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color:red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">登録申請を行う</button>
  </form>
  <p>※ 一度登録を行うとソースコードを変更することはできません。</p>
{% endblock %}
