{% extends 'base.html' %}

{% block title %}{{ title }} - UTpay{% endblock %}

{% block content %}
  <h2>{{ contract.name }}</h2>

  <div class="address">
    <p>{{ contract.address }}</p>
    <img src="{{ contract.qrcode.url }}" alt="{{ contract.address }}">
  </div>

  <div class="description">
    <h3>説明</h3>
    <p>{{ contract.description }}</p>
  </div>

  <div class="code">
    <h3>ソースコード</h3>
    <pre>{{ contract.code }}</pre>
  </div>

  <div class="created_at">
    <h3>作成日時</h3>
    <p>{{ contract.created_at }}</p>
  </div>

  <div class="modified_at">
    <h3>変更日時</h3>
    <p>{{ contract.modified_at }}</p>
  </div>

  <div class="verified_at">
    <h3>認証日時</h3>
    <p>{{ contract.verified_at }}</p>
  </div>
{% endblock %}
