<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}UTpay{% endblock %}</title>
  </head>
  <body>
    <h1>UTpay</h1>
    <ul>
      <li><a href="{% url 'website:index' %}">Index</a></li>
      <li><a href="{% url 'website:send' %}">Send</a></li>
      <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
      <li><a href="{% url 'accounts:login' %}">Log in</a></li>
      <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
      <li><a href="{% url 'accounts:mypage' %}">My page</a></li>
    </ul>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
