{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-blue.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>{% block title %}UTpay{% endblock %}</title>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <a class="mdl-layout-title" href="{% url 'website:index' %}" style="text-decoration: none; color: rgb(66,66,66);">UTpay</a>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">メニュー</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{% url 'website:transfer' %}">送金</a>
          <a class="mdl-navigation__link" href="{% url 'accounts:mypage' %}">マイページ</a>
          <a class="mdl-navigation__link" href="{% url 'accounts:logout' %}">ログアウト</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>
</html>
