{% extends 'base.html' %}

{% block title %}UTpay{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    {% if message.tags == 'success' %}
    <h2 class="mdl-card__title-text"><i class="material-icons">check_circle</i> {{ message }}</h2>
    {% elif message.tags == 'error' %}
    <h2 class="mdl-card__title-text"><i class="material-icons">error</i> {{ message }}</h2>
    {% else %}
    <h2 class="mdl-card__title-text"><i class="material-icons">info</i> {{ message }}</h2>
    {% endif %}
  </div>
</div>
<br>
{% endfor %}
{% endif %}

{% if user.is_authenticated %}
<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">送金する</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>
      UTCoin を送金してみましょう。<br>
      送金先のアドレスを入力するか、QRコードをスキャンすることで送金を行えます。
    </p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href={% url 'website:transfer' %} class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">送金</a>
  </div>
</div>

<br>
<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">コントラクトを登録する</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>
      UTCoin の送金をトリガーに実行するプログラムを登録することができます。<br>
      外部の API を呼び出すことにより、簡単に UTCoin による決済を利用したサービスを開始できます。
    </p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href={% url 'accounts:contract' %} class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">コントラクト</a>
  </div>
</div>

{% else %}
<div id="welcome-card" class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome to UTpay!</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p><b>UTpay は 東大コイン(UTCoin) を用いたスマートペイメントサービスです。</b></p>
    <p>
      現在、東京大学関係者のみが利用できます。<br>
      サインアップには東京大学ドメイン(u-tokyo.ac.jp)のメールアドレスが必要です。
    </p>
    <br>
    <p><b>はじめての方はこちらからサインアップしてください。<b></p>
    <a href="{% url 'accounts:signup' %}"><button class="button-wide mdl-button mdl-js-button mdl-button--raised mdl-button--accent">サインアップ</button></a>
    <br><br><br><br>
    <p>アカウントをお持ちの方はこちらからログインしてください。</p>
    <a href="{% url 'accounts:login' %}"><button class="button-wide mdl-button mdl-js-button mdl-button--raised mdl-button--colored">ログイン</button></a>
  </div>
</div>
{% endif %}
{% endblock %}
